#footer {
	h4,
	h5,
	a {
		color: $white;
		text-decoration: none;
	}
	.menu {
		list-style-type: none;
		padding: 0;
		li {
			a {
				color: $white;
			}
		}
	}
	.widget_recent_entries {
		ul {
			list-style-type: none;
			padding: 0;
		}
	}
	@include media-breakpoint-down(lg) {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		h4 {
			font-size: 1.3rem;
		}
	}
	.footer-widget-container {
		padding: 3rem;
		@include media-breakpoint-down(lg) {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

.rg_widget_new_posts p {
	font-style: italic;
}

.wpml-ls-native,
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
	color: $body-color;
}

#scroll-to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	z-index: 9999;
	background-color: $primary;
	opacity: .7;
	color: $white;
	border: none;
}

.footer-widet-column-3 {
	text-align: left;
	.btn-primary {
		background-color: $white;
		color: $primary !important;
		&:hover {
			color: $white !important;
			background-color: $primary;
			border-color: $white;
		}
	}
}

.widget-sm-icon {
	font-size: 2.5rem;
	margin-right: 1rem;
	@include media-breakpoint-down(lg) {
		font-size: 2.2rem;
		margin-right: .5rem;
	}
}