.navbar {
	min-height: 120px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid $primary;
}

.site-logo {
	max-width: 115px;
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
}

.nav-link:hover,
.nav-item.active a,
.current-menu-parent {
	text-decoration: none;
	color: $primary;
	border-bottom: 2px solid $primary;
}

.wpml-ls-current-language {
	border-left: 2px solid $primary;
	border-radius: 50%;
}

.wpml-ls-current-language a:hover {
	border-bottom: none;
}

.hamburger {
	z-index: 10;
}

.hamburger:focus {
	outline: none;
}

.dropdown-menu.show {
	background-color: rgba(255, 255, 255, 0.7);
	border-color: $primary;
}

.dropdown-item {
	color: $primary;
	text-decoration: none;
}

.dropdown-item:hover {
	color: white;
	background-color: $primary;
}

.page-header-image {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter: sepia(1);
	background-attachment: fixed;
}

.page-header-image h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2.5rem;
}

.ribbon-wrapper {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: absolute;
	top: -19px;
	right: -20px;
	z-index: 1;
}

.ribbon {
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	transform: rotate(45deg);
	position: relative;
	left: -5px;
	top: 35px;
	width: 235px;
	background-color: $primary;
	color: #6a6340;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon a {
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	margin-left: 50px;
}

.ribbon:before,
.ribbon:after {
	content: "";
	border-top:   3px solid #6e8900;
	border-left:  3px solid transparent;
	border-right: 3px solid transparent;
	position:absolute;
	bottom: -3px;
}

.ribbon:before {
	left: 0;
}

.ribbon:after {
	right: 0;
}