.navbar {
	min-height: 120px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid $primary;
}

.navbar-nav {
	@include media-breakpoint-down(lg) {
		margin-top: 4rem;
	}
}

.site-logo,
.site-logo-mobile {
	max-width: 250px;
	z-index: 999;
	position: absolute;
	top: 15px;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

.site-logo-mobile {
	max-width: 150px;
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $primary;
		border-bottom: 2px solid $primary;
		-webkit-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
	}
}

.current-menu-parent {
	text-decoration: none;
	color: $primary;
	border-bottom: 2px solid $primary;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	&:hover {
		border-bottom: none;
		-webkit-transition: none;
		transition: none;
	}
}

.nav-item.active a {
	text-decoration: none;
	color: $primary;
	border-bottom: 2px solid $primary;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	&:hover {
		color: $white;
	}
}

.current-menu-parent.nav-link:hover {
	border-bottom: none;
}

.wpml-ls-current-language {
	border-left: 2px solid $primary;
	border-radius: 50%;
	a {
		&:hover {
			border-bottom: none;
		}
	}
	@include media-breakpoint-down(lg) {
		border-left: none;
	}
}

.hamburger {
	z-index: 10;
	&:focus {
		outline: none;
	} 
}

.dropdown-menu.show {
	background-color: rgba(255, 255, 255, 0.9);
	border-color: $primary;
	@include media-breakpoint-down(lg) {
		border: none;
		text-align: center;
		li {
			border-bottom: 1px dotted $body-color;
		}
	}
}

.dropdown-item {
	color: $primary;
	text-decoration: none;
	&:hover {
		color: white;
		background-color: $primary;
	}
}

.page-header-image {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-filter: sepia(1);
	        filter: sepia(1);
	h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.7);
		padding: 2.5rem;
	}
}

.ribbon-wrapper {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: absolute;
	top: -19px;
	right: -20px;
	z-index: 1;
}

.ribbon {
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: relative;
	left: -5px;
	top: 35px;
	width: 235px;
	background-color: $primary;
	color: #6a6340;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
		margin-left: 50px;
	}
	&:before,
	&:after {
		content: "";
		border-top:   3px solid #6e8900;
		border-left:  3px solid transparent;
		border-right: 3px solid transparent;
		position:absolute;
		bottom: -3px;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}

.dropdown-toggle::after {
	display: none;
}