@include media-breakpoint-down(lg) {
	
	.wpml-ls-current-language {
		border-left: none;
	}
	
	.dropdown-menu.show {
		border: none;
		text-align: center;
	}
	
	.dropdown-menu.show li {
		border-bottom: 1px dotted $body-color;
	}
	
	.testimonial-text {
		min-height: 0;
	}
	
	#lp-heros h2 {
		font-size: 1.5rem;
	}
	
	#lp-heros h3,
	#lp-heros a {
		font-size: 1rem;
	}
	
	.jumbotron h2,
	.jumbotron i {
		font-size: 2rem;
	}
	
	#footer .p-5 {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	
	.lp-news-meta {
		font-size: 1rem;
	}


}