#sidebar {
	border-left: 2px solid $primary;
}

.widget-title {
	background-color: $primary;
	padding: 1rem;
	-webkit-hyphens: none !important;
	    -ms-hyphens: none !important;
	        hyphens: none !important;
	h5 {
		color: $white;
		padding: 0;
	}
}

.widget-content {
	border: 1px solid $gray-400;
	border-top: none;
	.textwidget {
		padding: 1rem;
		ul{
			padding-left: .75rem;
			li {
				margin-bottom: 1rem;
			}
		}
	}
}

.widget-sidebar-container {
	margin-bottom: 2rem;
}

.widget_media_image img {
	border: none;
	width: 100%;
}

#sidebar {
	img,
	.wp-video {
		margin-top: 1rem;
	}
}